.banner {
  background-image: url("../../assets/banner-mobile.png");
  font-family: "Lato";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 855.43px;
  padding: 23.85px;
  box-sizing: border-box;
}

.banner-content {
  margin-top: 63.87px;
}

.banner-content p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-title);
}

.banner-content p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 53.3477px;
  line-height: 59px;
  font-family: "Lilita One";
  text-transform: uppercase;
}

.banner-content p:nth-child(2)::after {
  content: "burger";
  margin-left: 10px;
  color: var(--color-yellow);
}

.banner-content p:nth-child(3) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text);
}

.banner-content p:nth-child(3)::after {
  content: "Apetite de um REI!";
  font-size: 16.5px;
  line-height: 22px;
  font-weight: 700;
  display: inline-block;
  border-radius: 6px;
  padding: 3px;
  margin-left: 2px;
  background-color: var(--color-yellow);
}

.banner-button {
  background-color: var(--color-red);
  color: #ffffff;
  width: 100%;
  max-width: 151.64px;
  height: 43.32px;
  border-radius: 5.08023px;
  padding: 10.1605px 20.3209px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 16.23px;
  cursor: pointer;
}
