@import url("./menu-icon.css");

.header {
  top: 0;
  display: flex;
  position: fixed;
  padding: 14.34px;
  height: 63.87px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  justify-content: space-between;
  background-color: rgba(59, 32, 11, 0.05);
}

.header-navbar,
.header-contacts {
  display: none;
}

/* .header-contacts__divider {
    width: 0px;
    border: 1px solid var(--wine);
    height: 47.66px;
  } */
