@import url("./menu-icon.css");

.navbar {
  width: 100%;
  max-width: 1200px;
  height: inherit;
  display: flex;
  margin: 0 auto;
  padding: 14.34px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.navbar-nav,
.navbar-contacts {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar-nav,
  .navbar-contacts {
    display: block;
  }
}

/* .header-contacts__divider {
    width: 0px;
    border: 1px solid var(--wine);
    height: 47.66px;
  } */
