@import url("./menu-icon.css");
@import url("./reset.css");

:root {
  --red: rgba(244, 49, 39, 1);
  --wine: rgba(181, 11, 4, 1);
  --brown: rgba(59, 32, 11, 1);
  --gray: rgba(29, 6, 5, 0.15);
  --yellow: rgba(245, 154, 27, 1);

  --title: rgba(29, 6, 5, 0.9);
  --text: rgba(29, 6, 5, 0.69);

  --default-dividers: rgba(73, 46, 21, 0.15);
  --specialties-title: rgba(250, 228, 208, 1);
  --default-background: rgba(250, 243, 242, 1);
}

.header {
  display: flex;
  padding: 14.34px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--default-background);
}

.header-navbar,
.header-contacts {
  display: none;
}

/* .header-contacts__divider {
  width: 0px;
  border: 1px solid var(--wine);
  height: 47.66px;
} */
